<main class="mainHeader">
    <h2>Encripty</h2>
    <div class="listMenu">
        <a href="/">Inicio</a>
        <a href="/encriptarOne">AES</a>
        <a href="/encriptarTwo">DES</a>
       
    </div>
</main>