<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>encripty | Modo AES</title>
</head>
<body>

    <h1>Encriptar en Modo AES</h1>

    <div class="encriptFileContainer">
        <h2>Encriptar archivo</h2>
        <form action="/encriptarOne/upload" method="post" enctype="multipart/form-data">
            <label for="archivotxt">
                Ingresa el archivo de texto a encriptar 
            </label>
            
            <input type="file" name="files" id="files" required >
    
            <input type="submit" value="Subir archivo">
        </form>
        
            <% if (locals.uploadOk) { %>
                <div class="cifrarTextContainer">
                    <p>icon</p>
                  
                    <form action="/encriptarOne/encriptFileAES" method="post">
                        <button type="submit">Encriptar</button>
                    </form>
                   
                    <% if (locals.encriptyOK) { %>
                        <a href="/encriptarOne/dowload">Descargar</a>
                    <% } %>
                </div>
            <% } %>
        


    
        <h2>Desencriptar</h2>
    
        <form action="./descencriptOne" method="post">
            <label for="archivotxt">
                Ingresa el archivo de texto a decencriptar
            </label>
            
            <input type="file" name="encripttxt" id="fileEncriptUser">
    
            <input type="submit" value="Descencriptar">
        </form>
    </div>

    <div class="encriptTxt">
        <div class="sectionEncriptText">
            <h2>Encriptar texto</h2>
        
        <form action="/encriptarOne/encriptAES" method="post">
            <label for="userText">Introduce el texto a cifrar</label>
            <input type="text" name="userText" id="userText">

            <label for="userPassword">Introduce una clave que sera necesaria para descifrar</label>
            <input type="text" name="userPassword" id="userPassword">

            <input type="submit" value="Cifrar">
        </form>

        <% if (locals.textEncript) { %>
            <p>Texto cifrado: <br>
                <span id="criptyText">
                    <%=textEncript%>
                </span>
            </p>
        <% } %>
        </div>
        
        <div class="sectionDescriptText">
            <h2>Descifrar texto</h2>
        
        <form action="/encriptarOne/descencriptAES" method="post">
            <label for="userText">Introduce el hash a Decifrar</label>
            <input type="text" name="userDescText" >

            <label for="userDescPassword">Introduce una clave que estableciste para descifrar</label>
            <input type="text" name="userDescPassword" >

            <input type="submit" value="Descifrar">
        </form>

        <% if (locals.textDescript) { %>
            <p>Texto descifrado: <br>
                <span id="criptyText">
                    <%=textDescript%>
                </span>
            </p>
        <% } %>
        </div>
        

    </div>
    

</body>
</html>