<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('./partials/head'); %>
  </head>
  <body>
    <%- include('./partials/menuHead'); %>

    <div class="index-options">
     <div class="opc">
        <i class="fa-solid fa-eye"></i>
        <a href="/encriptarOne">Encriptación AES</a>
     </div>

     <div class="opc">
      <i class="fa-solid fa-eye"></i>
      <a href="/encriptarTwo">Encriptación DES</a>
   </div>
    </div>
    
  </body>
</html>
